.header {
  background-color: var(--background-color);

  padding-top: 38px;
  padding-bottom: 38px;
  position: fixed;
  width: 100%;
  z-index: 99;

  h2 {
    color: white;
    font-size: 32px;
    margin-left: 100px;
  }
}

.header-links {
  margin-right: 100px;

  a {
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    color: #ffffff;
    text-decoration: none;
    margin-right: 30px;

    &:hover {
      color: var(--primary-color);
    }
  }
}

.header-content {
  max-width: 1920px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
