<div class="about-me-container">
  <div class="about-me">
    <div class="about-me-text">
      <h2>{{ "ABOUT_ME.TITLE" | translate }}</h2>
      <p>{{ "ABOUT_ME_TEXT" | translate }}</p>
      <div class="about-me-details">
        <div class="about-me-single">
          <img src="assets/img/location.png" alt="location" />
          <p>{{ "ABOUT_ME_DETAILS.LOCATION" | translate }}</p>
        </div>
        <div class="about-me-single">
          <img src="assets/img/bulb.png" alt="bulb" />
          <p>{{ "ABOUT_ME_DETAILS.PROBLEM_SOLVER" | translate }}</p>
        </div>
        <div class="about-me-single">
          <img
            src="assets/img/puzzle.png"
            alt="puzzle"
            style="margin-right: 27px"
          />
          <p>{{ "ABOUT_ME_DETAILS.CREATIVITY" | translate }}</p>
        </div>
      </div>
    </div>

    <div class="shadow-container-about">
      <img
        class="about-me-shadow"
        src="assets/img/shadow_about_me.png"
        alt="shadow_about_me"
      />
    </div>

    <div class="photo-container">
      <div class="about-me-photo">
        <img src="assets/file2.png" alt="file2" />
      </div>
      <div class="green-border-about"></div>
    </div>
  </div>
</div>
