.about-me-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 100px;
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}

.about-me-text {
  margin-left: 100px;
  z-index: 3;
  position: relative;
  max-width: 800px;

  h1 {
    margin-bottom: 41px;
  }
}

.about-me-details {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.about-me-single {
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  img {
    margin-right: 32px;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.about-me {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
}

.photo-container {
  display: flex;
  align-items: center;
  z-index: 3;
}

.about-me-photo {
  img {
    width: 453px;
    height: 453px;
    position: relative;
    border-radius: 50%;
    border: 4px solid #70e61c;
  }
}

.shadow-container {
  position: absolute;
  top: -300px;
  right: 0;
  width: 100%;
  height: 150%;
  pointer-events: none;
  overflow: hidden;
}

.about-me-shadow {
  position: absolute;
  right: -400px;
  top: 0px;
}

.green-border {
  border-bottom: 4px solid #70e61c;
  width: 267px;
}
