.about-me-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 150px;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.about-me-text {
  margin-left: 100px;
  z-index: 3;
  position: relative;
  max-width: 471px;

  p {
    text-align: left !important;
  }

  h2 {
    margin-bottom: 41px;
  }
}

.about-me-details {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.about-me-single {
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  p {
    margin-left: 0 !important;
    text-align: left !important;
  }

  img {
    margin-right: 32px;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.about-me {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
}

.photo-container {
  display: flex;
  align-items: center;
  z-index: 3;
}

.about-me-photo {
  img {
    width: 453px;
    height: 453px;
    position: relative;
    border-radius: 50%;
    border: 4px solid #70e61c;
  }
}

.shadow-container-about {
  position: absolute;
  top: -200px;
  right: 0;
  width: 100%;
  height: 150%;
  pointer-events: none;
  animation: shadowPulse 2.5s infinite ease-in-out;
}

.about-me-shadow {
  position: absolute;
  right: -400px;
  top: 0px;
}

.green-border-about {
  border-bottom: 4px solid #70e61c;
  width: 267px;
}

@media (max-width: 1440px) {
  .about-me-text {
    margin-left: 73px;
  }

  .about-me-photo {
    img {
      width: 400px;
      height: 400px;
    }
  }

  .green-border-about {
    width: 200px;
  }

  .shadow-container {
    overflow-x: hidden;
  }
}

@media (max-width: 1200px) {
  .about-me-photo {
    img {
      width: 350px;
      height: 350px;
    }
  }

  .green-border-about {
    width: 150px;
  }
}

@media (max-width: 1145px) {
  .about-me-photo,
  .green-border-about {
    display: none;
  }

  .about-me {
    flex-direction: column;
    align-items: center;
  }

  .about-me-text {
    margin: 0 auto !important;
    position: relative;
    max-width: 1440px;
    width: 90%;
    text-align: center;
  }

  .about-me-container {
    padding-top: 125px;
  }

  .about-me-container {
    width: 80%;
  }
}

@media (max-width: 700px) {
  .about-me-text p {
    text-align: center !important;
  }

  .about-me-details p {
    text-align: left !important;
  }

  .about-me-text h2 {
    font-size: 50px;
  }
}

@media (max-width: 550px) {
  .about-me-container {
    padding-top: 50px;
  }

  .shadow-container-about {
    top: 10%;
  }

  .about-me-text h2 {
    margin-bottom: 0;
    font-size: 42px;
  }

  .about-me-container {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .about-me-single img {
    margin-right: 15px;
  }

  .about-me-text p {
    font-size: 15px;
  }
}
