<div class="about-me-container">
  <div class="about-me">
    <div class="about-me-text">
      <h1>About me</h1>
      <p>
        Hi, I'm a passionate Frontend Developer based in Berlin. I thrive on
        turning complex ideas into intuitive and visually appealing user
        experiences. As Edsger Dijkstra wisely said, “The art of programming is
        the art of organizing complexity, mastering variety, and avoiding
        chaos.” This philosophy drives me to excel in my work.
      </p>
      <div class="about-me-details">
        <div class="about-me-single">
          <img src="assets/img/location.png" alt="location" />
          <p>
            I am adaptable to various work environments and willing to relocate
            if needed. I prefer hybrid work but am also open to on-site or
            remote arrangements.
          </p>
        </div>
        <div class="about-me-single">
          <img src="assets/img/bulb.png" alt="bulb" />
          <p>
            I'm a dedicated problem-solver who enjoys tackling challenges
            head-on. I relish the opportunity to dive into complex challenges,
            dissecting them into manageable parts, and crafting elegant
            solutions. Whether it’s troubleshooting bugs, optimizing
            performance, or refining user interactions, I’m committed to finding
            effective, innovative answers.
          </p>
        </div>
        <div class="about-me-single">
          <img
            src="assets/img/puzzle.png"
            alt="puzzle"
            style="margin-right: 27px"
          />
          <p>
            My creativity shines through when I translate Figma designs into
            functional, user-friendly websites with innovative features. Whether
            it's crafting responsive layouts or implementing engaging
            interactive elements, I take pride in making each project a unique
            digital experience.
          </p>
        </div>
      </div>
    </div>

    <div class="shadow-container">
      <img
        class="about-me-shadow"
        src="assets/img/shadow_about_me.png"
        alt="shadow_about_me"
      />
    </div>

    <div class="photo-container">
      <div class="about-me-photo">
        <img src="assets/file2.png" alt="file2" />
      </div>
      <div class="green-border"></div>
    </div>
  </div>
</div>
