.header {
  background-color: var(--background-color);
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed !important;
  width: 100vw;
  z-index: 99;
  left: 0;

  h2 {
    color: white;
    font-size: 42px;
  }
}

.header-links {
  a {
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    color: #ffffff;
    text-decoration: none;
    margin-right: 30px;

    &:hover {
      color: var(--primary-color);
    }
  }
}

.header-links li:last-child a {
  margin-right: 0; /* Remove margin-right from the last link */
}

a {
  text-decoration: none;
}

ul {
  display: flex;
  text-decoration: none;
  list-style: none;
}

.header-content {
  width: 100%;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.burger-menu-btn {
  cursor: pointer;
  div {
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 999;
  }

  .line-1 {
    transform: translate(-50%, -850%);
  }

  .line-3 {
    transform: translate(-50%, 700%);
  }
}

.click-menu {
  margin-top: 25px;

  .line-1 {
    transform: translate(-50%, -850%) rotate(-45deg);
  }

  .line-3 {
    transform: translate(-50%, -850%) rotate(45deg);
  }

  .line-2 {
    width: 0;
  }
}

.burger-menu-btn span {
  background-color: white;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.25s, width 0.25s;
}

.header-links a.active-link {
  color: var(--primary-color);
  position: relative;
}

.header-links a.active-link::after {
  content: "";
  display: block;
  width: 55px;
  border-bottom: 3px solid var(--secondary-color);
  position: absolute;
  left: 0;
}

.active-border {
  width: 55.5px;
  border-bottom: 3px solid var(--secondary-color);
  margin-top: 5px;
}

.translation-switch {
  position: absolute;
  left: 50%;
  right: 50%;
  width: 100px;

  img {
    cursor: pointer;

    &:hover {
      filter: brightness(2);
    }
  }
}

.bright {
  filter: brightness(2); /* Brighter */
}

.dim {
  filter: brightness(1); /* Normal */
}

@import "./header-media.scss";
