<div class="header">
  <div class="header-content">
    <a href="#landing-page"><h2>Özcan</h2></a>

    <div class="header-links">
      <ul>
        <li *ngFor="let link of links">
          <a
            [href]="link.href"
            (click)="setActiveLink(link.href)"
            [ngClass]="{ 'active-link': activeLink === link.href }"
          >
            {{ link.text }}
          </a>
        </li>
      </ul>
      <div></div>
    </div>

    <div
      class="burger-menu-btn"
      [ngClass]="{ 'click-menu': isMenuOpen }"
      (click)="toggleBurgerMenu()"
      *ngIf="isScreenSmall"
    >
      <div>
        <span class="line-1"></span>
        <span class="line-2"></span>
        <span class="line-3"></span>
      </div>
    </div>
  </div>
</div>
