.header {
  background-color: var(--background-color);
  padding-top: 38px;
  padding-bottom: 38px;
  position: fixed;
  width: 100%;
  z-index: 99;
  left: 0;

  h2 {
    color: white;
    font-size: 42px;
    margin-left: 100px;
  }
}

.header-links {
  margin-right: 100px;

  a {
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    color: #ffffff;
    text-decoration: none;
    margin-right: 30px;

    &:hover {
      color: var(--primary-color);
    }
  }
}

a {
  text-decoration: none;
}

.header-content {
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.burger-menu-btn {
  display: none !important;
}

.header-links a.active-link {
  color: var(--primary-color);
}

@media (max-width: 1100px) {
  .burger-menu-btn {
    display: block !important;
    img {
      position: relative;
      right: 50px;
    }
  }

  .header-links {
    display: none;
  }

  .header {
    padding-top: 23px;
    padding-bottom: 23px;
  }
}
