<div class="header">
  <div class="header-content">
    <a href="#main-page"><h2>Özcan</h2></a>

    <div class="header-links">
      <a
        *ngFor="let link of links"
        [href]="link.href"
        (click)="setActiveLink(link.href)"
        [ngClass]="{ 'active-link': activeLink === link.href }"
        >{{ link.text }}</a
      >
    </div>

    <div
      class="burger-menu-btn"
      (click)="openBurgerMenu()"
      *ngIf="isScreenSmall && !isMenuOpen"
    >
      <img src="assets/img/burger_menu_btn.png" alt="burger_menu_btn" />
    </div>
  </div>
</div>
