<div class="header">
  <div class="header-content">
    <a href="#" onclick="window.location.reload();"><h2>Özcan</h2></a>
    <div class="translation-switch">
      <img
        *ngFor="let lang of languages"
        [src]="getImageSrc(lang)"
        [alt]="lang"
        (click)="changeLanguage(lang)"
        [ngClass]="getBrightnessClass(lang)"
      />
    </div>
    <div class="header-links">
      <ul>
        <li *ngFor="let link of links">
          <a
            [href]="link.href"
            (click)="setActiveLink(link.href)"
            [ngClass]="{ 'active-link': activeLink === link.href }"
          >
            {{ link.textKey | translate }}
          </a>
        </li>
      </ul>
    </div>

    <div
      class="burger-menu-btn"
      [ngClass]="{ 'click-menu': isMenuOpen }"
      (click)="toggleBurgerMenu()"
      *ngIf="isScreenSmall"
    >
      <div>
        <span class="line-1"></span>
        <span class="line-2"></span>
        <span class="line-3"></span>
      </div>
    </div>
  </div>
</div>
