<div class="contact-container">
  <div class="contact-title">
    <h1>Contact</h1>
    <div class="purple-border-big"></div>
  </div>
  <div class="contact-section">
    <div class="contact-text">
      <h2>Got a problem to solve?</h2>
      <p>
        Contact me through this form, I am interested in hearing from you,
        knowing your ideas and contributing to your projects with my work.
      </p>
      <p>Need a Frontend developer? <b>Contact me!</b></p>
    </div>
    <div class="input-section">
      <input type="text" placeholder="Your name" required />
      <input type="text" placeholder="Your email" required />
      <textarea placeholder="Your message" id="message" required></textarea>
      <div class="privacy-policy">
        <span
          >I've read the <span class="purple">privacy policy</span> and agree to
          the processing of my data as outlined.</span
        >
      </div>
      <div class="button-container">
        <button class="designed-btn gray-btn" type="submit">
          Send message :)
        </button>
      </div>
    </div>
  </div>
</div>
