<div class="contact-container">
  <div class="contact-title">
    <h2>{{ "CONTACT.TITLE" | translate }}</h2>
    <div class="purple-border-big"></div>
  </div>
  <div class="contact-section">
    <div class="contact-text">
      <h3>{{ "CONTACT.PROBLEM_SOLVE" | translate }}</h3>
      <p>{{ "CONTACT.CONTACT_TEXT" | translate }}</p>
      <p [innerHTML]="'CONTACT.NEED_FRONTEND_DEV' | translate"></p>
    </div>
    <form
      (ngSubmit)="onSubmit(contactForm)"
      #contactForm="ngForm"
      class="input-section"
    >
      <input
        #name="ngModel"
        [(ngModel)]="contactData.name"
        [ngClass]="{
          'valid-field': name.valid && name.touched,
          'invalid-field': !name.valid && name.touched
        }"
        type="text"
        name="name"
        [placeholder]="'CONTACT.NAME_PLACEHOLDER' | translate"
        required
      />
      <div *ngIf="!name.valid && name.touched" class="required-container">
        <span>{{ "CONTACT.NAME_REQUIRED" | translate }}</span>
      </div>
      <input
        #email="ngModel"
        [(ngModel)]="contactData.email"
        [ngClass]="{
          'valid-field': email.valid && email.touched,
          'invalid-field': !email.valid && email.touched
        }"
        type="email"
        name="email"
        [placeholder]="'CONTACT.EMAIL_PLACEHOLDER' | translate"
        required
        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
      />
      <div *ngIf="!email.valid && email.touched" class="required-container">
        <span>{{ "CONTACT.EMAIL_REQUIRED" | translate }}</span>
      </div>
      <textarea
        #message="ngModel"
        [(ngModel)]="contactData.message"
        [ngClass]="{
          'valid-field': message.valid && message.touched,
          'invalid-field': !message.valid && message.touched
        }"
        [placeholder]="'CONTACT.MESSAGE_PLACEHOLDER' | translate"
        id="message"
        name="message"
        minlength="4"
        required
      ></textarea>
      <div *ngIf="!message.valid && message.touched" class="required-container">
        <span>{{ "CONTACT.MESSAGE_REQUIRED" | translate }}</span>
      </div>
      <div class="privacy-policy">
        <div class="check-box">
          <img
            [src]="checkboxImageSrc"
            (click)="checkBoxToggle()"
            alt="Checkbox"
          />

          <span>
            {{ "CONTACT.PRIVACY_POLICY_PART1" | translate }}
            <a [routerLink]="['/app-privacy-policy']" (click)="scrollToTop()">
              <span class="purple">{{
                "CONTACT.PRIVACY_POLICY_LINK" | translate
              }}</span>
            </a>
            {{ "CONTACT.PRIVACY_POLICY_PART2" | translate }}
          </span>
        </div>
        <div
          *ngIf="!isChecked && isCheckboxTouched"
          class="required-container privacy-warning"
        >
          <span>{{ "CONTACT.PRIVACY_POLICY_REQUIRED" | translate }}</span>
        </div>
      </div>
      <div *ngIf="emailSent" class="confirmation-message">
        {{ "CONTACT.EMAIL_SENT" | translate }}
      </div>
      <div class="button-container">
        <button
          class="designed-btn gray-btn"
          [ngClass]="{
            'green-btn': contactForm.valid && isChecked,
            'gray-btn': !contactForm.valid && !isChecked
          }"
          type="submit"
          value="Submit"
          [disabled]="!contactForm.valid || !isChecked"
        >
          {{ "CONTACT.SEND_MESSAGE" | translate }}
        </button>
      </div>
    </form>
  </div>
  <div class="go-up-btn">
    <a href="#landing-page">
      <img src="assets/img/go_up_btn.png" alt="go_up_btn" />
    </a>
  </div>
  <img
    class="purple-shadow-contact"
    src="assets/img/purple_shadow_footer.png"
    alt="purple-shadow"
  />
</div>
