.contact-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
}

.contact-title {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 180px;
  margin-bottom: 40px;
  flex-direction: row-reverse;
}

.purple-border-big {
  width: 507px;
  border-bottom: 4px solid #9747ff;
  border-radius: 10px;
  margin-right: 32px;
}

.contact-section {
  display: flex;
  justify-content: space-evenly;
}

.contact-text {
  width: 474px;
}

.input-section {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  width: 617px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
  background-color: var(--background-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  padding-left: 25px;
  color: white;
  box-sizing: border-box;
  margin-bottom: 32px;

  &::placeholder {
    color: white;
  }
}

textarea {
  height: 202px;
  padding-top: 20px;
}

.valid-field {
  border: 1px solid #70e61c;
}

.invalid-field {
  border: 1px solid red;
}

h2 {
  color: white;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  margin-bottom: 24px;
}

p {
  margin-bottom: 16px;
}

a {
  text-decoration: none;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.designed-btn {
  background-color: #b6b6b6;
  cursor: not-allowed;
}

.gray-btn {
  background-color: #b6b6b6;
  cursor: not-allowed;
}

.green-btn {
  background-color: #70e61c;
  cursor: pointer;
}

span {
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
}

.purple {
  color: var(--secondary-color);
}

.privacy-policy {
  display: flex;
  flex-direction: column;

  img {
    cursor: pointer;
    position: relative;
    transition: filter 0.1s ease;
    &:hover {
      filter: brightness(10);
    }
  }
}

.check-box {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.required-container {
  position: relative;
  bottom: 25px;

  span {
    position: absolute;
    color: red;
  }
}

.privacy-warning {
  top: 10px;
}

.go-up-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  &:hover {
    filter: hue-rotate(green);
  }
}

.shadow-container {
  position: relative;
}

.purple-shadow-footer {
  position: absolute;
  position: absolute;
  top: -400px;
  left: -600px;
  z-index: -1;
}
