<div class="contact-container">
  <div class="contact-title">
    <h1>Contact</h1>
    <div class="purple-border-big"></div>
  </div>
  <div class="contact-section">
    <div class="contact-text">
      <h2>Got a problem to solve?</h2>
      <p>
        Contact me through this form, I am interested in hearing from you,
        knowing your ideas and contributing to your projects with my work.
      </p>
      <p>Need a Frontend developer? <b>Contact me!</b></p>
    </div>
    <form
      (ngSubmit)="onSubmit(contactForm)"
      #contactForm="ngForm"
      class="input-section"
    >
      <input
        [(ngModel)]="contactData.name"
        type="text"
        name="name"
        placeholder="Your name"
        required
      />
      <input
        [(ngModel)]="contactData.email"
        type="email"
        name="email"
        placeholder="Your email"
        required
        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
      />
      <textarea
        #message="ngModel"
        [(ngModel)]="contactData.message"
        placeholder="Your message"
        id="message"
        name="message"
        minlength="4"
        required
      ></textarea>
      @if (!message.valid && message.touched ) {
      <span>Please enter a message</span>
      }
      <div class="privacy-policy">
        <div class="check-box">
          <img
            [src]="checkboxImageSrc"
            (click)="checkBoxToggle()"
            alt="Checkbox"
          />
        </div>

        <span
          >I've read the <span class="purple">privacy policy</span> and agree to
          the processing of my data as outlined.</span
        >
      </div>
      <div class="button-container">
        <button class="designed-btn gray-btn" type="submit" value="Submit">
          Send message :)
        </button>
      </div>
    </form>
  </div>
</div>
