.contact-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  position: relative;
}

.contact-title {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 180px;
  margin-bottom: 40px;
  flex-direction: row-reverse;
}

.purple-border-big {
  width: 507px;
  border-bottom: 4px solid #9747ff;
  border-radius: 10px;
  margin-right: 32px;
}

.contact-section {
  display: flex;
  justify-content: space-evenly;
}

.contact-text {
  width: 474px;
}

.input-section {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  width: 617px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
  background-color: var(--background-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  padding-left: 25px;
  color: white;
  box-sizing: border-box;
  margin-bottom: 32px;

  &::placeholder {
    color: white;
  }
}

textarea {
  height: 202px;
  padding-top: 20px;
}

.valid-field {
  border: 1px solid #70e61c;
}

.invalid-field {
  border: 1px solid red;
}

.contact-title {
  h2 {
    color: white;
    font-size: 70px;
    font-weight: 700;
    line-height: 38.4px;
  }
}

.contact-text {
  h3 {
    color: white;
    font-size: 32px;
    font-weight: 700;
    line-height: 108px;
  }

  p {
    margin-bottom: 16px;
  }
}

.check-box {
  a {
    text-decoration: none;
  }
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.gray-btn {
  background-color: #b6b6b6;
  cursor: not-allowed;
}

.green-btn {
  background-color: #70e61c;
  cursor: pointer;
}

.check-box {
  span {
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
  }
}

.check-box {
  .purple {
    color: var(--secondary-color);
  }
}

.privacy-policy {
  display: flex;
  flex-direction: column;

  img {
    cursor: pointer;
    position: relative;
    margin-right: 10px;
    transition: filter 0.1s ease;

    &:hover {
      filter: brightness(10);
    }
  }
}

.confirmation-message {
  color: var(--primary-color);
  margin: 0 auto;
  font-size: large;
  margin-top: 10px !important;
}

.check-box {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.required-container {
  position: relative;
  bottom: 25px;

  span {
    position: absolute;
    color: red;
  }
}

.privacy-warning {
  top: 10px;
}

.go-up-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  &:hover {
    filter: hue-rotate(green);
  }
}

.purple-shadow-contact {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 80%;
  bottom: -500px;
  left: -600px;
  animation: shadowPulse 2.5s infinite ease-in-out;
}

@media (max-width: 1200px) {
  .purple-border-big {
    width: 40%;
  }

  .go-up-btn {
    width: 95%;
  }
}

@media (max-width: 1100px) {
  .contact-section {
    flex-direction: column;
    align-items: center;
  }

  input,
  textarea {
    margin: 0 auto;
    margin-bottom: 8% !important;
  }

  .purple-border-big {
    width: 30%;
  }

  .contact-text {
    width: 70%;

    p,
    h3 {
      text-align: center;
    }

    h3 {
      margin: 0 auto;
    }
  }

  .required-container {
    bottom: 20px;
    left: 45px;
  }
}

@media (max-width: 750px) {
  html.lang-de .contact-text {
    h3 {
      font-size: 25px;
      line-height: 83px;
    }
  }
}

@media (max-width: 700px) {
  .contact-title {
    margin-top: 80px;
  }

  .contact-container {
    margin-top: 50px;
  }
}

@media (max-width: 600px) {
  html.lang-de .contact-text h3 {
    font-size: 25px;
    line-height: 39px;
    margin-bottom: 20px;
  }

  input,
  textarea {
    width: 90%;
  }

  .purple-border-big {
    width: 20%;
    margin-right: 25px;
  }

  .contact-text {
    width: 80%;
  }

  .check-box {
    width: 80%;
    margin: 0 auto;
  }

  .button-container {
    button {
      font-size: 16px !important;
      margin-right: 0 !important;
    }
  }

  .go-up-btn {
    position: relative;
    top: 50px;
  }

  .contact-title {
    margin-top: 0;
  }
}

@media (max-width: 500px) {
  .contact-title {
    h2 {
      font-size: 50px;
    }
  }

  .contact-text {
    h3 {
      font-size: 25px;
      line-height: 80px;
    }
  }
}

@media (max-width: 400px) {
  .contact-container {
    margin-top: 20px;
  }

  .contact-text {
    h3 {
      font-size: 20px;
    }

    p {
      font-size: 15px;
    }
  }

  .purple-border-big {
    width: 15%;
    margin-right: 15px;
  }
}
