@media (max-width: 1440px) {
  .purple-border-big {
    width: 30%;
  }
}

@media (max-width: 1200px) {
  .project-section {
    margin-left: 5%;

    img {
      margin-right: 50px;
    }

    .single-project.reverse {
      img {
        margin-right: 0;
        margin-left: 50px;
      }
    }
  }
}

@media (max-width: 1100px) {
  .single-project,
  .single-project.reverse {
    flex-direction: column;
    align-items: center;
  }

  .single-project.reverse {
    img {
      margin-left: 0 !important;
    }
  }

  .project-section {
    margin: 0 auto;
  }

  .single-project {
    margin-bottom: 400px;
  }

  .buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .project-text {
    align-items: center;
  }

  .portfolio-container {
    p {
      text-align: center;
    }
  }

  .project-img {
    width: 100%;
    display: flex;
    justify-content: center;

    img {
      margin-right: 0;
    }
  }

  .portfolio-container {
    padding-top: 425px;
  }
}

@media (max-width: 750px) {
  .purple-shadow-portfolio {
    position: absolute;
    left: -800px;
  }
}

@media (max-width: 700px) {
  .portfolio-container {
    p {
      width: 90%;
      margin-left: 5%;
    }
  }

  .purple-border {
    width: 50px;
  }

  .purple-border-big {
    width: 20%;
  }

  .project-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .single-project {
    width: 342px;
    height: 552.99px;
    margin-bottom: 100px;

    .portfolio-container {
      p {
        text-align: center;
      }
    }

    img {
      width: 342px;
    }

    .purple-btn-portfolio {
      margin-right: 50px !important;
    }

    .project-text {
      width: inherit;

      h3 {
        margin-top: 0;
      }
    }

    .purple-border-big {
      margin-left: 10px;
    }

    .purple-border {
      margin-right: 10px;
    }
  }

  @media (max-width: 550px) {
    .portfolio-title {
      margin-top: 120px;
    }

    html.lang-de .portfolio-title {
      margin-top: 200px;
    }
  }

  @media (max-width: 400px) {
    .designed-btn {
      font-size: 16px !important;
      line-height: 19.6px !important;
    }

    .single-project {
      margin-bottom: 80px;

      .purple-btn-portfolio {
        margin-right: 30px !important;
      }

      .portfolio-container {
        p {
          width: 75%;
          font-size: 15px;
        }
      }

      img {
        width: 300px;
      }
    }

    .portfolio-title {
      h2 {
        font-size: 40px;
      }
    }

    .project-text {
      h4 {
        font-size: 20px;
        line-height: 15.6px;
      }
    }
  }
}
