.portfolio-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.portfolio-title {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 180px;
  margin-bottom: 40px;
}

.purple-border {
  width: 100px;
  border-bottom: 4px solid #9747ff;
  border-radius: 10px;
  margin-left: 32px;
}

.purple-border-big {
  width: 507px;
  border-bottom: 4px solid #9747ff;
  border-radius: 10px;
  margin-left: 32px;
}

p {
  text-align: center;
}

.project-section {
  margin-top: 32px;
  margin-left: 136px;

  img {
    width: 450px;
    margin-right: 100px;
  }
}

.single-project {
  display: flex;
  height: 339px;
  margin-bottom: 80px;

  p {
    text-align: left;
  }
}

h2 {
  color: var(--secondary-color);
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  text-align: left;
}

h3 {
  color: var(--primary-color);
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
  text-align: left;
}

.project-text {
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 513px;
}

.single-project.reverse {
  flex-direction: row-reverse; /* Reverse the order */

  img {
    margin-left: 100px;
    margin-right: 0;
  }
}

.flex-end {
  align-items: flex-end;
}

.purple-btn {
  background-color: var(--secondary-color);
  margin-top: 30px;
  margin-right: 86px;

  &:hover {
    background-color: var(--primary-color);
  }

  &:active {
    background-color: var(--secondary-color);
  }
}

.empty-green-btn {
  background-color: var(--background-color);
  border: 1px solid var(--primary-color);
  margin-top: 30px;
  margin-right: 0;

  &:hover {
    background-color: var(--primary-color);
  }

  &:active {
    background-color: var(--secondary-color);
  }
}

.shadow-container {
  position: relative;
}

.purple-shadow-portfolio {
  position: absolute;
  transform: scale(2);
  left: -300px;
  top: -350px;
  z-index: -1;
}

@media (max-width: 1440px) {
  .purple-border-big {
    width: 30%;
  }
}

@media (max-width: 1200px) {
  .project-section {
    margin-left: 5%;

    img {
      margin-right: 50px;
    }

    .single-project.reverse {
      img {
        margin-right: 0;
        margin-left: 50px;
      }
    }
  }
}

@media (max-width: 1100px) {
  .single-project,
  .single-project.reverse {
    flex-direction: column;
    align-items: center;
  }

  .single-project.reverse {
    img {
      margin-left: 0 !important;
    }
  }

  .project-section {
    margin: 0 auto;
  }

  .single-project {
    margin-bottom: 400px;
  }

  .buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .project-text {
    align-items: center;
  }

  p {
    text-align: center;
  }

  .project-img {
    width: 100%;
    display: flex;
    justify-content: center;

    img {
      margin-right: 0;
    }
  }

  .portfolio-container {
    padding-top: 425px;
  }
}
