<div class="portfolio-container">
  <div class="portfolio-title">
    <div class="purple-border"></div>
    <h1>Portfolio</h1>
    <div class="purple-border-big"></div>
  </div>
  <p>
    Explore a selection of my work here - Interact with projects to see my
    skills in action.
  </p>
  <div class="project-section">
    <div
      class="single-project"
      [ngClass]="project.reverseClass"
      *ngFor="let project of projects"
    >
      <div class="project-img">
        <img
          [ngStyle]="{
            'margin-left':
              project.reverseClass === 'row-reverse' ? '100px' : '0'
          }"
          [src]="project.image"
          [alt]="project.imageAlt"
        />
      </div>
      <div
        class="project-text"
        [ngClass]="{ 'flex-end': project.reverseClass === 'row-reverse' }"
      >
        <h2>{{ project.title }}</h2>
        <h3>{{ project.technologies }}</h3>
        <p>{{ project.description }}</p>
        <div class="buttons-container">
          <a [href]="project.liveLink">
            <button class="designed-btn purple-btn">Live test</button>
          </a>
          <a [href]="project.link">
            <button class="designed-btn empty-green-btn">Github</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
