.portfolio-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.portfolio-title {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 180px;
  margin-bottom: 40px;
}

.purple-border {
  width: 100px;
  border-bottom: 4px solid #9747ff;
  border-radius: 10px;
  margin-left: 32px;
}

.purple-border-big {
  width: 507px;
  border-bottom: 4px solid #9747ff;
  border-radius: 10px;
  margin-left: 32px;
}

p {
  text-align: center;
}

.project-section {
  margin-top: 32px;
  margin-left: 136px;

  img {
    width: 450px;
    margin-right: 100px;
  }
}

.single-project {
  display: flex;
  height: 339px;

  p {
    text-align: left;
  }
}

h2 {
  color: var(--secondary-color);
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  text-align: left;
}

h3 {
  color: var(--primary-color);
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
  text-align: left;
}

.project-text {
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row-reverse {
  flex-direction: row-reverse;
}

.flex-end {
  align-items: flex-end;
}

.purple-btn {
  background-color: var(--secondary-color);

  &:hover {
    background-color: var(--primary-color);
  }
}

.empty-green-btn {
  background-color: var(--background-color);
  border: 1px solid var(--primary-color);

  &:hover {
    background-color: var(--primary-color);
  }
}
