<div class="portfolio-container">
  <div class="portfolio-title">
    <div class="purple-border"></div>
    <h1>Portfolio</h1>
    <div class="purple-border-big"></div>
  </div>
  <p>
    Explore a selection of my work here - Interact with projects to see my
    skills in action.
  </p>
  <div class="project-section">
    <div
      class="single-project"
      [ngClass]="{ reverse: project.reverseClass === 'row-reverse' }"
      *ngFor="let project of projects"
    >
      <div class="project-img">
        <img [src]="project.image" [alt]="project.imageAlt" />
      </div>
      <div class="project-text">
        <h2>{{ project.title }}</h2>
        <h3>{{ project.technologies }}</h3>
        <p>{{ project.description }}</p>
        <div class="buttons-container">
          <a [href]="project.liveLink" target="_blank">
            <button
              class="designed-btn purple-btn"
              [ngClass]="{ 'last-purple-btn': isLastButton(project) }"
            >
              Live test
            </button>
          </a>
          <a [href]="project.link" target="_blank">
            <button class="designed-btn empty-green-btn">Github</button>
          </a>
        </div>
      </div>
    </div>
    <div class="shadow-container">
      <img
        class="purple-shadow-portfolio"
        src="assets/img/purple_shadow_portfolio.png"
        alt="purple-shadow"
      />
    </div>
  </div>
</div>
