.portfolio-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.portfolio-title {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 180px;
  margin-bottom: 40px;
}

.purple-border {
  width: 100px;
  border-bottom: 4px solid #9747ff;
  border-radius: 10px;
  margin-right: 32px;
}

.purple-border-big {
  width: 507px;
  border-bottom: 4px solid #9747ff;
  border-radius: 10px;
  margin-left: 32px;
}

.portfolio-container {
  p {
    text-align: center;
  }
}

.project-section {
  margin-top: 32px;
  margin-left: 136px;
}

.project-img {
  img {
    width: 450px;
    margin-right: 100px;
  }
}

.single-project {
  display: flex;
  height: 339px;
  margin-bottom: 80px;
  opacity: 0; /* Start with the element invisible */
  transition: opacity 0.5s ease-out;

  .portfolio-container {
    p {
      text-align: left;
    }
  }
}

.single-project.reverse {
  flex-direction: row-reverse; /* Reverse the order */

  img {
    margin-left: 100px;
    margin-right: 0;
  }
}

.single-project.animate {
  opacity: 1; /* Make it visible when animation triggers */
  animation: slide-in-right 0.5s ease-out forwards;
}

.single-project.reverse.animate {
  animation: slide-in-left 0.5s ease-out forwards;
}

.project-text {
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 513px;

  h3 {
    color: var(--secondary-color);
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    text-align: left;
  }

  h4 {
    color: var(--primary-color);
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;
  }
}

.flex-end {
  align-items: flex-end;
}

.purple-btn-portfolio {
  background-color: var(--secondary-color) !important;
  margin-top: 30px !important;
  margin-right: 86px !important;

  &:hover {
    background-color: var(--primary-color);
  }

  &:active {
    background-color: var(--secondary-color);
  }
}

.empty-green-btn {
  background-color: var(--background-color) !important;
  border: 1px solid var(--primary-color) !important;
  margin-top: 30px !important;
  margin-right: 0 !important;

  &:hover {
    background-color: var(--primary-color) !important;
  }

  &:active {
    background-color: var(--secondary-color) !important;
  }
}

.shadow-container-portfolio {
  position: relative;
}

.purple-shadow-portfolio {
  position: absolute;
  left: -500px;
  top: -700px;
  z-index: -1;
  animation: shadowPulse 2.5s infinite ease-in-out;
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@import "./portfolio-media.scss";
