<div class="main-container">
  <div class="privacy-container">
    <h1>{{ "PRIVACY_POLICY" | translate }}</h1>

    <h2>{{ "DATA_PROTECTION_OVERVIEW" | translate }}</h2>
    <h3>{{ "GENERAL_INFORMATION" | translate }}</h3>
    <p>{{ "DATA_COLLECTION_ON_WEBSITE" | translate }}</p>
    <p>{{ "DATA_COLLECTION_ON_WEBSITE_CONTENT" | translate }}</p>

    <h3>{{ "RESPONSIBLE_FOR_DATA_COLLECTION" | translate }}</h3>
    <p>{{ "DATA_PROCESSING" | translate }}</p>
    <p>{{ "NOTICE_ON_RESPONSIBLE_ENTITY" | translate }}</p>

    <h3>{{ "HOW_WE_COLLECT_DATA" | translate }}</h3>
    <p>{{ "HOW_WE_COLLECT_DATA_CONTENT" | translate }}</p>
    <p>{{ "OTHER_DATA_COLLECTION" | translate }}</p>

    <h3>{{ "USE_OF_DATA" | translate }}</h3>
    <p>{{ "USE_OF_DATA_CONTENT" | translate }}</p>

    <h3>{{ "RIGHTS_REGARDING_DATA" | translate }}</h3>
    <p>{{ "RIGHTS_REGARDING_DATA_CONTENT" | translate }}</p>
    <p>{{ "CONTACT_US" | translate }}</p>

    <h2>{{ "HOSTING" | translate }}</h2>
    <p>{{ "WE_HOST_WITH" | translate }}</p>
    <h3>{{ "EXTERNAL_HOSTING" | translate }}</h3>
    <p>{{ "EXTERNAL_HOSTING_CONTENT" | translate }}</p>
    <p>{{ "HOST_PROCESS_DATA" | translate }}</p>
    <p>{{ "HOST" | translate }}</p>
    <p>www.hostinger.de</p>

    <h2>{{ "GENERAL_INFORMATION_MANDATORY_INFO" | translate }}</h2>
    <h3>{{ "DATA_PROTECTION" | translate }}</h3>
    <p>{{ "DATA_PROTECTION_CONTENT" | translate }}</p>
    <p>{{ "DATA_TRANSMISSION_SECURITY" | translate }}</p>

    <h3>{{ "RESPONSIBLE_ENTITY" | translate }}</h3>
    <p>
      Özcan Mirzanli<br />
      Müritzstr. 31<br />
      10318, Berlin
    </p>
    <p>
      Phone: +49 176 854 63990<br />
      Email: ozcanmirzanli&#64;proton.me
    </p>
    <p>{{ "RESPONSIBLE_ENTITY_EXPLANATION" | translate }}</p>

    <h3>{{ "STORAGE_DURATION" | translate }}</h3>
    <p>{{ "STORAGE_DURATION_CONTENT" | translate }}</p>

    <h3>{{ "LEGAL_BASES" | translate }}</h3>
    <p>{{ "LEGAL_BASES_CONTENT" | translate }}</p>

    <h3>{{ "RECIPIENTS_OF_DATA" | translate }}</h3>
    <p>{{ "RECIPIENTS_OF_DATA_CONTENT" | translate }}</p>

    <h3>{{ "REVOCATION_CONSENT" | translate }}</h3>
    <p>{{ "REVOCATION_CONSENT_CONTENT" | translate }}</p>

    <h3>{{ "RIGHT_TO_OBJECT" | translate }}</h3>
    <p>{{ "RIGHT_TO_OBJECT_CONTENT" | translate }}</p>
    <p>{{ "RIGHT_TO_OBJECT_DIRECT_MARKETING" | translate }}</p>

    <h3>{{ "RIGHT_TO_COMPLAINT" | translate }}</h3>
    <p>{{ "RIGHT_TO_COMPLAINT_CONTENT" | translate }}</p>

    <h3>{{ "RIGHT_TO_DATA_PORTABILITY" | translate }}</h3>
    <p>{{ "RIGHT_TO_DATA_PORTABILITY_CONTENT" | translate }}</p>

    <h3>{{ "INFORMATION_CORRECTION" | translate }}</h3>
    <p>{{ "INFORMATION_CORRECTION_CONTENT" | translate }}</p>
  </div>
</div>
