.main-page-container {
  background-color: #141d2f;
  height: 100vh;
}

.profile-shadow {
  margin-top: 80px;
}

.title-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px;
  position: relative;

  h3 {
    color: white;
    font-size: 64px;
    font-weight: 400;
    line-height: 76.8px;
    transform: rotate(270deg);
    margin-top: 50px;
    margin-right: -10px;
  }
}

.title {
  position: relative;

  h2 {
    color: var(--secondary-color);
    font-size: 58px;
    font-weight: 400;
    line-height: 69.6px;
  }
}

.profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.center-btn {
  display: flex;
  justify-content: center;
}

.green-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 15px 30px 15px 30px;
  border-radius: 10px;
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
  cursor: pointer;
  transition: transform 0.3s ease-out;
  margin-top: 44px;
  margin-right: 50px;
  z-index: 9;

  &:hover {
    transform: scale(1.2);
    background-color: var(--secondary-color);
  }
}

.background {
  position: relative;
  width: 100%;
  top: -400px;
}

.contact-links-container {
  position: absolute;
  bottom: 70px;
  z-index: 4;
  display: flex;
  align-items: center;
  width: 100%;

  span {
    color: white;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
  }

  img {
    width: 30px;
    height: 30px;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.contact-options {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
}

.purple-line {
  width: 100px;
  border-bottom: 4px solid #9747ff;
  border-radius: 10px;
  margin-right: 32px;
}

.contact-links {
  position: relative;

  a {
    margin-right: 32px;
  }
}

.photo-big {
  width: 550px;
  height: 700px;
  position: absolute;
  top: 120px;
  left: 120px;
}

.scroll-text {
  transform: rotate(90deg);
  width: 200px;
}
