<app-header></app-header>

<div class="main-container">
  <div class="impressum-container">
    <h1>Impressum</h1>

    <h3>
      &Ouml;zcan Mirzanli<br />
      M&uuml;ritzstra&szlig;e 31<br />
      10318 Berlin
    </h3>
    <br />
    <br />
    <h2>Kontakt</h2>
    <h3>
      Telefon: 017685463990<br />
      E-Mail: ozcanmirzanli&#64;proton.me
    </h3>

    <h3>
      Quelle: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a>
    </h3>
  </div>
</div>

<app-footer></app-footer>
