.my-skills-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding-top: 180px;
}

.my-skills {
  display: flex;
  width: 100%;
}

.my-skills-logos {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 664px;
  height: 500px;
  margin: 0 auto;
}

.my-skills-logos.animate {
  animation: half-slide-in-left 1s ease-out forwards;
}

.skill-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  position: relative;

  span {
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    position: absolute;
    bottom: -25px;
    text-align: center;
    word-break: break-word;
    overflow-wrap: break-word;
    max-width: 100px;
  }
}

/* Apply specific styles to the last two skills */
.last-two {
  margin-bottom: -20px !important;
}

.green-btn-skills {
  background-color: var(--primary-color);

  &:hover {
    transform: scale(1.2);
    background-color: var(--secondary-color);
  }
}

.purple-text {
  color: var(--secondary-color) !important;
}

.single-skill {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    &:hover {
      animation: up-and-down 0.8s ease-in-out;
    }
  }
}

h3 {
  color: white;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  margin-top: 24px;
  margin-bottom: 16px;

  span {
    color: var(--primary-secondary);
  }
}

.my-skills-text {
  width: 571px;
  height: 400px;
}

.my-skills-text.animate {
  animation: half-slide-in-right 1s ease-out forwards;
}

.my-skills-info {
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  p {
    text-align: right;
  }
}

.my-skills-title {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.purple-border-skills {
  width: 100px;
  border-bottom: 4px solid #9747ff;
  border-radius: 10px;
}

.green-btn {
  margin-top: 40px;
  margin-right: 0;

  &:active {
    background-color: var(--primary-color);
  }
}

.green-shadow-skills {
  position: absolute;
  animation: shadowPulse 2.5s infinite ease-in-out;
  z-index: -1;
  left: -350px;
  transform: rotate(45deg);
}

.my-skills-logos.mobile {
  display: none;
}

html.lang-de .my-skills-text {
  h3,
  p {
    text-align: center;
  }
}

html.lang-de .my-skills-title {
  h2 {
    font-size: 60px;
    line-height: 78px;
    text-align: center;
  }
}

@keyframes up-and-down {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@import "./my-skills-media.scss";
