<div class="my-skills-container">
  <div class="my-skills">
    <div class="my-skills-logos desktop">
      <div class="skill-row" *ngFor="let skillRow of getSkillRows(4)">
        <div class="single-skill" *ngFor="let skill of skillRow">
          <img [src]="skill.image" [alt]="skill.alt" />
          <span [innerHTML]="skill.name"></span>
        </div>
      </div>
      <div class="shadow-container">
        <img
          class="green-shadow"
          src="assets/img/green_shadow.png"
          alt="green-shadow"
        />
      </div>
    </div>

    <div class="my-skills-text">
      <div class="my-skills-title">
        <h1>My skills</h1>
        <div class="purple-border"></div>
      </div>
      <div class="my-skills-info">
        <p>
          I have gained experience in building projects with different frontend
          technologies and concepts.
        </p>
        <div class="my-skills-logos mobile">
          <div class="skill-row" *ngFor="let skillRow of getSkillRows(4)">
            <div class="single-skill" *ngFor="let skill of skillRow">
              <img [src]="skill.image" [alt]="skill.alt" />
              <span [innerHTML]="skill.name"></span>
            </div>
          </div>
        </div>
        <h3>
          Looking for
          <span class="purple-text">another skill?</span>
        </h3>
        <p>
          Feel free to contact me. I look forward to expanding on my previous
          knowledge.
        </p>
        <a href="#contact">
          <button class="designed-btn green-btn">Get in touch</button>
        </a>
      </div>
    </div>
  </div>
</div>
