.landing-page-container {
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.shadow-container-landing {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  right: 5%;
}

.profile-shadow {
  position: absolute;
  animation: shadowPulse 2.5s infinite ease-in-out;
  transform-origin: center;
}

.profile-picture {
  width: 646px;
  height: 705px;
}

.title-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px;
  position: relative;
  right: 0;

  h3 {
    color: white;
    font-size: 64px;
    font-weight: 400;
    line-height: 76.8px;
    transform: rotate(270deg);
    margin-top: 50px;
    margin-right: -20px;
  }

  h1 {
    font-size: 82px;
  }
}

.title {
  position: relative;

  h2 {
    color: var(--secondary-color);
    font-size: 58px;
    font-weight: 400;
    line-height: 69.6px;
  }
}

.profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  position: relative;
}

.center-btn {
  display: flex;
  justify-content: center;
}

.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 55%;
  left: 0;
}

.contact-links-container {
  position: absolute;
  bottom: 10%;
  z-index: 4;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1440px;

  span {
    color: white;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
  }

  img {
    width: 30px;
    height: 30px;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.green-btn {
  background-color: var(--primary-color);
  z-index: 5;
  position: relative;

  &:hover {
    transform: scale(1.2);
    background-color: var(--secondary-color);
  }

  &:active {
    background-color: var(--primary-color);
  }
}

.contact-options {
  display: flex;
  flex-direction: row;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  align-items: center;
}

.purple-border {
  width: 100px;
  border-bottom: 4px solid #9747ff;
  border-radius: 10px;
  margin-right: 32px;
}

.contact-links {
  position: relative;

  a {
    margin-right: 32px;
  }
}

.photo-big {
  width: 500px;
  height: auto;
  position: absolute;
  top: 15%;
  left: 176px;
  overflow: hidden;
}

.scroll-text {
  transform: rotate(90deg);
  width: 200px;
  animation: scrollTextAnimation 1.5s infinite ease-in-out;
}

// STYLE CHANGES FOR GERMAN LANGUAGE
html.lang-de .title h1 {
  font-size: 79px !important;
}

html.lang-de .title-container h2 {
  font-size: 52px !important;
}

html.lang-de .title-container h3 {
  font-size: 46px;
  margin-top: 47px;
  margin-right: -35px;
}

html.lang-de .green-btn {
  font-size: 20px !important;
}

// ANIMATIONS
@keyframes scrollTextAnimation {
  0%,
  100% {
    transform: translateY(0) rotate(90deg);
  }
  50% {
    transform: translateY(-10px) rotate(90deg);
  }
}

// MEDIA QUERIES
@media (max-width: 1440px) {
  .title-container {
    right: 25px;

    h1 {
      font-size: 63px;
    }

    h2 {
      font-size: 45px;
    }

    h3 {
      font-size: 55px;
      margin-top: 26px;
    }
  }

  html.lang-de .title-container h1 {
    font-size: 65px !important;
  }

  html.lang-de .title-container h2 {
    font-size: 43px !important;
  }

  html.lang-de .title-container h3 {
    font-size: 35px;
    margin-top: 25px;
  }

  .photo-big {
    width: 472px;
    height: auto;
    left: 12%;
  }

  .profile-picture {
    width: 50%;
  }

  .shadow-container-landing {
    right: 5%;
  }
}

@media (max-width: 1200px) {
  .profile-picture {
    width: 45%;
  }

  .shadow-container-landing {
    right: 10%;
  }

  .green-btn {
    margin-top: 30px;
  }
}

@media (max-width: 1100px) {
  html.lang-de .title-container {
    right: 0px !important;
  }

  .title-container {
    z-index: 9;
    right: 0;
    margin-bottom: 0;
    bottom: 80px;
  }

  .profile-container {
    flex-direction: column;
    justify-content: flex-end;
  }

  .profile-picture {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .photo-big {
    left: unset;
  }

  .shadow-container-landing {
    right: unset;
    top: 5%;
  }

  .profile-shadow {
    width: 100%;
    height: auto;
  }

  .scroll-text {
    display: none;
  }

  .contact-options {
    span {
      display: none;
    }
  }

  .about-me-text {
    margin-left: 0;
  }

  .green-btn {
    margin-top: 10px;
  }

  .background {
    top: 45%;
  }

  .contact-links-container {
    bottom: 20px;
  }

  .photo-big {
    width: 430px;
  }

  .center-btn {
    .green-btn {
      margin-top: 10px;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1024px) {
  /* iPad Portrait */
  .shadow-container-landing {
    margin-top: -25% !important;
  }

  .photo-big {
    top: 325px;
  }
}

@media (max-width: 700px) {
  html.lang-de .title-container h3 {
    font-size: 30px;
    margin-top: 14px;
    margin-right: -28px;
  }

  html.lang-de .title-container {
    right: 2% !important;
  }

  .title-container {
    right: 10px;

    h1 {
      font-size: 53px;
      line-height: 50px;
    }

    h2 {
      font-size: 38px;
      line-height: 50px;
    }

    h3 {
      line-height: 50px;
      font-size: 41px;
      margin-top: 22px;
    }
  }

  .shadow-container-landing {
    margin-top: 25%;
  }

  .photo-big {
    width: 400px;
  }

  .green-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 35px;
  }

  .contact-links {
    width: 100%;
    display: flex;
    justify-content: center;

    a {
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .purple-border {
    position: absolute;
    width: 93px;
  }
}

@media (max-width: 600px) {
  html.lang-de .title-container h1 {
    font-size: 55px !important;
  }

  html.lang-de .title-container h2 {
    font-size: 36px !important;
  }
}

@media (max-width: 505px) {
  html.lang-de .title-container h1 {
    font-size: 44px !important;
  }
  html.lang-de .title-container h2 {
    font-size: 29px !important;
  }

  html.lang-de .title-container h3 {
    font-size: 23px;
  }

  html.lang-de .title-container h3 {
    margin-right: -24px;
  }

  .title-container {
    bottom: 15%;

    h1 {
      font-size: 43px;
      line-height: 40px;
    }

    h2 {
      font-size: 30.5px;
      line-height: 40px;
    }

    h3 {
      line-height: 40px;
      font-size: 31px;
      margin-top: 16px;
      margin-right: -10px;
    }

    .green-btn {
      margin-top: 10px;
      margin-bottom: 0;
    }
  }

  .designed-btn {
    font-size: 16px;
    line-height: 19.2px;
  }

  .contact-links-container {
    justify-content: center;
  }

  .purple-border {
    width: 80px;
  }

  html.lang-de .green-btn {
    margin-right: 0 !important;
  }
}

@media (max-width: 400px) {
  html.lang-de .title-container h1 {
    font-size: 37px !important;
  }

  html.lang-de .title-container h2 {
    font-size: 24px !important;
  }

  html.lang-de .title-container h3 {
    font-size: 22px !important;
  }

  html.lang-de .title-container {
    right: 3% !important;
  }

  html.lang-de .green-btn {
    font-size: 18px !important;
  }

  .title-container {
    h1 {
      font-size: 31px;
    }

    h2 {
      font-size: 22px;
    }

    h3 {
      font-size: 26px;
    }
  }

  .purple-border {
    width: 60px;
  }

  .photo-big {
    width: 335px;
  }
}

@media (max-width: 380px) {
  .background {
    top: 40%;
  }
}

@media (max-width: 350px) {
  html.lang-de .title-container h1 {
    font-size: 30px !important;
    line-height: 35px;
  }

  html.lang-de .title-container h2 {
    font-size: 20px !important;
  }

  html.lang-de .title-container h3 {
    font-size: 19px !important;
    margin-right: -20px;
  }
}
