<div class="landing-page-container" id="landing-page">
  <div class="profile-container">
    <div class="profile-picture">
      <div class="shadow-container-landing">
        <img
          class="profile-shadow"
          src="assets/img/photo_shadow_1.png"
          alt="photo_shadow"
        />
      </div>
      <img class="photo-big" src="assets/file.png" />
    </div>

    <div class="title-container">
      <div class="relative-container">
        <h3>{{ "LANDING_PAGE.AS" | translate }}</h3>
      </div>
      <div class="title">
        <h1>{{ "LANDING_PAGE.NAME" | translate }}</h1>
        <h2>{{ "LANDING_PAGE.TITLE" | translate }}</h2>
        <div class="center-btn">
          <a href="#contact">
            <button class="designed-btn green-btn">
              {{ "LANDING_PAGE.BUTTON_TEXT" | translate }}
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="background-container">
    <img class="background" src="assets/img/background.png" alt="background" />
  </div>
  <div class="contact-links-container">
    <div class="contact-options">
      <div class="purple-border"></div>
      <div class="contact-links">
        <a href="https://github.com/ozcanmirzanli" target="_blank">
          <img src="assets/img/github_btn.png" alt="github_btn" />
        </a>
        <a href="mailto:kontakt@ozcanmirdev.com" target="_blank">
          <img src="assets/img/email_btn.png" alt="email_btn" />
        </a>
        <a href="https://www.linkedin.com/in/ozcan-mirzanli/" target="_blank">
          <img src="assets/img/linkedin_btn.png" alt="linkedin_btn" />
        </a>
      </div>
      <span>kontakt&#64;ozcanmirdev.com</span>
    </div>
    <div class="scroll-text">
      <span>{{ "LANDING_PAGE.SCROLL_TEXT" | translate }}</span>
    </div>
  </div>
</div>
