.landing-page-container {
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.shadow-container-landing {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  right: 5%;
}

.profile-shadow {
  position: absolute;
  animation: shadowPulse 1.75s infinite ease-in-out;
  transform-origin: center;
}

.profile-picture {
  width: 646px;
  height: 705px;
}

.title-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px;
  position: relative;
  right: 0;

  h3 {
    color: white;
    font-size: 64px;
    font-weight: 400;
    line-height: 76.8px;
    transform: rotate(270deg);
    margin-top: 50px;
    margin-right: -20px;
  }

  h1 {
    font-size: 82px;
  }
}

.title {
  position: relative;

  h2 {
    color: var(--secondary-color);
    font-size: 58px;
    font-weight: 400;
    line-height: 69.6px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
  }
}




.profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  position: relative;
}

.center-btn {
  display: flex;
  justify-content: center;
}

.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 55%;
  left: 0;
}

.contact-links-container {
  position: absolute;
  bottom: 10%;
  z-index: 4;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1440px;

  span {
    color: white;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
  }

  img {
    width: 30px;
    height: 30px;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.green-btn {
  background-color: var(--primary-color);
  z-index: 5;
  position: relative;

  &:hover {
    transform: scale(1.2);
    background-color: var(--secondary-color);
  }

  &:active {
    background-color: var(--primary-color);
  }
}

.contact-options {
  display: flex;
  flex-direction: row;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  align-items: center;
}

.purple-border {
  width: 100px;
  border-bottom: 4px solid #9747ff;
  border-radius: 10px;
  margin-right: 32px;
}

.contact-links {
  position: relative;

  a {
    margin-right: 32px;
  }
}

.photo-big {
  width: 500px;
  height: auto;
  position: absolute;
  top: 15%;
  left: 176px;
  overflow: hidden;
}

.scroll-text {
  transform: rotate(90deg);
  width: 200px;
  animation: scrollTextAnimation 1s infinite ease-in-out;
}

// STYLE CHANGES FOR GERMAN LANGUAGE
html.lang-de .title h1 {
  font-size: 79px !important;
}

html.lang-de .title-container h2 {
  font-size: 52px !important;
}

html.lang-de .title-container h3 {
  font-size: 46px;
  margin-top: 47px;
  margin-right: -35px;
}

html.lang-de .green-btn {
  font-size: 20px !important;
}

// ANIMATIONS
@keyframes scrollTextAnimation {
  0%,
  100% {
    transform: translateY(0) rotate(90deg);
  }
  50% {
    transform: translateY(-10px) rotate(90deg);
  }
}

@import "./landing-page-media.scss";
