*,
body {
  margin: 0;
  font-family: poppins;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;

  h1 {
    color: white;
    font-size: 90px;
    font-weight: 700;
    line-height: 108px;
  }

  p {
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;

    .purple-border {
      width: 100px;
      border-bottom: 4px solid var(--secondary-color);
      border-radius: 10px;
    }
  }

  .designed-btn {
    color: white;
    border: none;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    cursor: pointer;
    transition: transform 0.3s ease-out;
    margin-top: 44px;
    margin-right: 50px;
    z-index: 9;
  }
}

body {
  background-color: var(--background-color);
  overflow-x: hidden;
}

:root {
  --primary-color: #70e61c;
  --secondary-color: #9747ff;
  --background-color: #141d2f;
}

app-porfolio {
  margin-top: 100px;
}
