*,
body {
  margin: 0;
  font-family: "Poppins";
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;

  p {
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;

    .purple-border {
      width: 100px;
      border-bottom: 4px solid var(--secondary-color);
      border-radius: 10px;
    }
  }

  .designed-btn {
    color: white;
    border: none;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    cursor: pointer;
    transition: transform 0.3s ease-out;
    margin-top: 44px;
    margin-right: 50px;
    z-index: 9;
  }
}

h1 {
  color: white;
  font-size: 90px;
  font-weight: 700;
  line-height: 108px;
}

h2 {
  color: white;
  font-size: 70px;
  font-weight: 700;
  line-height: 108px;
}

body {
  background-color: var(--background-color);
  overflow-x: hidden !important;
}

:root {
  --primary-color: #70e61c;
  --secondary-color: #9747ff;
  --background-color: #141d2f;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

app-porfolio {
  margin-top: 100px;
}

@keyframes shadowPulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

@media (max-width: 1440px) {
  h1 {
    font-size: 65px;
    line-height: 73px;
  }
}

@media (max-width: 1100px) {
  h1 {
    font-size: 60px;
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 45px;
  }
}
