*,
body {
  margin: 0;
  font-family: poppins;
  scroll-behavior: smooth;

  h1 {
    color: white;
    font-size: 90px;
    font-weight: 700;
    line-height: 108px;
  }
}

:root {
  --primary-color: #70e61c;
  --secondary-color: #9747ff;
  --background-color: #141d2f;
}
