@media (max-width: 1400px) {
  .footer-content {
    width: 90%;
  }
}

@media (max-width: 900px) {
  .contact-links {
    img {
      margin-right: 25px;
    }
  }
}

@media (max-width: 700px) {
  .footer-container,
  .footer-content {
    flex-direction: column;
  }

  .footer-content {
    gap: 10px;
  }

  .imprint {
    display: none;
  }

  .legal-notice {
    display: flex;
    margin-top: 15px;
  }

  .green-border-footer {
    margin-top: 240px;
  }

  .contact-links {
    margin-top: 10px;
  }
}
