<div class="green-border"></div>

<div class="footer-container">
  <div class="title-impressum">
    <a href="#main-page"><h2>Özcan</h2> </a>
    <a [routerLink]="['/impressum']">Impressum</a>
  </div>
  <div class="date">
    <span>© Özcan Mirzanli 2024</span>
  </div>
  <div class="contact-links">
    <a href="https://github.com/ozcanmirzanli" target="_blank">
      <img src="assets/img/github_btn.png" alt="github_btn" />
    </a>
    <a href="mailto:ozcanmirzanli@proton.me" target="_blank">
      <img src="assets/img/email_btn.png" alt="email_btn" />
    </a>
    <a href="https://www.linkedin.com/in/ozcan-mirzanli/" target="_blank">
      <img src="assets/img/linkedin_btn.png" alt="linkedin_btn" />
    </a>
  </div>
</div>
